<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Flask App</title>
</head>
<body>
    <div class="meteoAPI">
       <h1>WebServices : MétéoAPI</h1>
        <form method="POST">
            <label>Rechercher une ville : </label><input name="search"> <input type="submit" value="Search"></p>
        </form>
        <div class="response">
            <br><br>
            {% if response %}
               <h2>Results</h2>
                <ul>
                  {% for city in response %}
                    <ul>
                        <li>{{city}}</li>
                    </ul>
                  {%endfor%}
                </ul>
            {% endif %}
        </div>
    </div>
</body>
</html>