<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Flask App</title>
</head>
<body>
    <div class="meteoAPI">
        <h1>WebServices : MétéoAPI</h1>
        <form method="POST">
            <label>Rechercher une ville : </label><input name="search" value="{{cities[0]}}"> <input type="submit" value="Search"></p>
        </form>
        {% if cities[1]|length == 0 %}
            <p class="error">No results for {{cities[0]}}</p>
        {% endif %}
        {% if cities and cities[1] and cities[1]|length > 0 %}
            <form  method="POST">
                <h3> Select city ({{cities[1]|length}} found for {{cities[0]}}) :
                <select name="insee" method="POST">
                  <label>Rechercher une ville : </label>{% if cities[1]|length > 0 %} <option  value="{{cities[1][0]['name']}}" selected>{{cities[1][0]['name']}} ({{cities[1][0]['cp']}})</option> {% endif %}
                  {% for city in cities[1][1:] %}
                    <option value="{{city['insee']}}">{{city['name']}} ({{city['cp']}})</option>
                  {% endfor %}
                </select></h3>
            </form>
        {% endif %}
        {% if ephemeride %}
            <div class="ephemeride">
                <br><br>
                <ul>
                    {{ ephemeride[1] }}
                </ul>
            </div>
        {% endif %}
    </div>
</body>
</html>